body {
    background-color: #FFF8B8;
    width: 80%;
    margin: auto;
}

header {
    color:#0F7CBF;
}

nav {
    background-color: #F22233;
    color: #fff;
}

footer {
    background-color: #0F7CBF;
    color: #fff;
}